
#train-table th,td {
      display: inline-block;
      width: 16.575%;
    }

.card-header {
    color: black;
    font-style: bold;
}
div {
    opacity: 0.85;
    background-color: black;
    border-radius: 10px;
}

.container {
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
}

.jumbotron {
    margin-top: 25px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2012/10/10/05/04/locomotive-60539__340.jpg");
    background-color: gray;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto;
}
